<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All Employess</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Employee List:</h1>
      <table id="employees">
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Job Title</th>
          <th>View/Edit/Delete</th>
        </tr>
      <!-- <% for( let i = 0; i < people.length; i++){%> -->
      <tr>
        <td> <%= people[i].firstName %> <%= people[i].lastName%></td>
        <td> <%= people[i].phone %></td>
        <td> <%= people[i].jobTitle %></td>
        <td>
          <div class="edit-delete">
            <a href="/people/<%=people[i].id%>/show"><button>VIEW</button></a>
            <!-- <form action="/people/<%=people[i].id%>" method="PUT">
              <input type="submit" value="VIEW">
            </form> -->
            <form action="/people/<%=people[i].id%>/edit" method="PUT">
              <input type="submit" value="EDIT"></form>
            <form action="/people/<%=people[i].id%>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE"></form>
            </div>
          </td>
      </tr>
   <!-- <%}%> -->
   </table>
     <nav>
       <a href="/people">Back to Home Page</a>
     </nav>
    </div>
  </body>
</html>
